.meal-image {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
}

.meal-image h4 {
  display: flex;
  position: absolute;
  bottom: 2%;
  left: 39%;
  transform: translateX(-50%);
  padding: 10px;
  margin: 0;
  z-index: 2;
  font-size: calc(1.375rem + 1vw);
  color: white;
  font-weight: bold;
}

.meal-image img {
  width: 78%;
  border-radius: 15px 15px 0px 0px;
  border: 0.5px solid #000;
}

.overlay {
    background: linear-gradient(180deg,rgba(255,255,255,0) 0%,rgba(0,0,0,0.7) 100%);
    position: absolute;
    height: 100%;
    width: 78%;
    z-index: 1;
    top: 0;
    border-radius: 15px 15px 0px 0px;
    border-color: black;
}