main{
    width: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:white;
}

#content{
    display: flex;
    flex-direction: column;
}

#content .title-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3%;
}

.title-content h1{
    color: #000000;
    font-size: 48px;
    font-family: sans-serif;
    font-weight: bold;
}

#content .meal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3%;
}