#header {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ebe2ce;
}

#header .logo-container {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.logo-container img {
    width: 100%;
    height: auto;
    max-width: 80px;
    padding-left: 25px;
}

#header .menu-container {
    width: 80%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}

#header .menu-container a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-container a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-right: 40px;
}

.menu-container a:hover{
    color: #f58723;
}

.menu-container img{
    width: 22px;
    margin-right: 5px;
}